/************************ Main styling ************************/

.main{
    grid-area: main;
    justify-self: center;
    width: 90%;
}

.main__header{
    margin-bottom: 3rem;
    text-align: center;
}

.main__title{
    font-size: 2rem;
}

/************************ End main styling ************************/



/************************ Article styling ************************/

.main .card:nth-of-type(3) .card__image{
    border-radius: 15px;
} 

.card{
    border-bottom: 6px solid #f16529;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px 0 rgba(120, 120, 120, .2);
    margin-bottom: 3rem;
    padding: 1rem;
}

.card:nth-child(3)
{
    border-bottom: 6px solid #3c99dc;
}

.card:nth-child(4)
{
    border-bottom: 6px solid #f0db4f;
}

.card__figure{
    margin-bottom: 1rem;
    text-align: center;
}

.main .card:nth-of-type(2) .card__figure{
    margin-bottom: 0;
    margin-top: 1rem;
}

.card__title{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card__copy{
    font-size: .9rem;
    line-height: 1.3rem;
    margin-bottom: 1.5rem;
}

.card__actions{
    text-align: center;
}

.card__more{
    border: 1px solid var(--main-color);
    color: var(--main-color);
    display: inline-block;
    letter-spacing: 1px;
    padding: .5rem 2rem;
    text-decoration: none;
    transition: background-color .5s,color .4s;
}

.card__more:hover,
.card__more:focus{
    background-color: var(--main-color);
    color: #fff;
}

/************************ End article styling ************************/



/************************ Media Queries **************************/

@media screen and (min-width: 720px) {
    
    .card{
        align-items: stretch;
        display: flex;
        padding: 2rem;
    }

    .card__figure{
        margin-bottom: 0;
        margin-right: 2rem;
    }
    
    .main .card:nth-of-type(2) .card__figure{
        margin-left: 2rem;
        margin-right: 0;
        margin-top: 0rem;
    }

    .card__actions{
        text-align: start;
    }

}

@media screen and ( min-width: 1020px) {
    
    .card{
        align-items: stretch;
        padding: 2rem;
    }

    .card__image{
        width: 300px;
    }

}

/************************ End Media Queries **************************/