/************************ Main styling ************************/

.main-content{
    grid-area: main;
    justify-self: center;
    max-width: 1150px;
    width: 90%;
}
.main-content__header{
    margin-bottom: 2rem;
    text-align: center;
}

.main-content__introduction{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.main-content__article{
    margin-bottom: 2.75rem;
}

.main-content__aside{
    display: flex;
    flex-direction: column-reverse;
}

.main-content__figure{
    margin-bottom: 1.5rem;
}

.main-content__image{
    border-radius: 15px;
    width: 100%;
}

.main-content__caption{
    font-size: .9rem;
}

/************************* End main styling *************************/



/************************* Media Queries *************************/


@media screen and ( min-width: 780px ){
    
    .main-content__aside{
        flex-direction: row-reverse;
    }

    .main-content__figure{
        margin-right: 1rem;
    }
    
    .main-content__figure:nth-child(1){
        margin-right: 0;
    }

}

/************************* End Media Queries *************************/



