<header class="header">
    <nav class="nav">
        <div class="nav__sub">
            <p class="nav__logo">eLibrary</p>
            <div class="nav__burger">
                <div class="nav__line"></div>
                <div class="nav__line"></div>
                <div class="nav__line"></div>
            </div>
        </div>
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">Search</a>
            </li>
            <li class="nav__item">
                <a href="/saved-books" class="nav__link">MyList</a>
            </li>

        </ul>
    </nav>
</header>