/************************* Fonts *************************/

@font-face {
    font-family: satisfy;
    src: url("../fonts/Satisfy-Regular.ttf");
}

@font-face {
    font-family: merienda;
    src: url("../fonts/Merienda-Regular.ttf");
}

/************************* End fonts *************************/



/************************* Default styling *************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefefe;
    color: #1c1e21;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/************************* End Default styling *************************/



/************************* Navbar styling *************************/

.header {
    background-color: #343a40;
    color: #fff;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav {
    margin: 0 auto;
    max-width: 1140px;
    padding: 1.25rem 0;
    width: 90%;
}

.nav__logo {
    font-family: satisfy;
    font-weight: 700;
    letter-spacing: 3px;
}

.nav__sub {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Nav burger styling */

.nav__burger {
    cursor: pointer;
    width: 22px;
}

.nav__line {
    background-color: #fff;
    height: 2px;
    margin-bottom: 4px;
    transition: transform .5s ease-out, opacity .4s ease-in-out;
    width: 100%;
}

.nav__line:last-of-type {
    margin-bottom: 0;
}

.nav__line-active:nth-of-type(1) {
    transform: translateY(6px) rotate(45deg);
}

.nav__line-active:nth-of-type(2) {
    opacity: 0;
}

.nav__line-active:nth-of-type(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* End nav burber styling */

.nav__list {
    height: 0;
    list-style-type: none;
    overflow-y: hidden;
    transition: height .5s ease-in-out;
}

.nav__list-active {
    height: 7rem
}

.nav__item {
    height: 3rem;
    padding: 1rem 0;
    text-align: end;
}

.nav__item:first-child {
    margin-top: 1rem;
}

.nav__link {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

/************************* End navbar styling *************************/



/************************* Search styling *************************/

.search {
    align-items: center;
    color: #444;
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1140px;
    padding: 5rem 0 1.5rem 0;
    width: 90%;
}

.search__header {
    text-align: center;
    margin-bottom: 2rem;
}

.search__title {
    margin-bottom: .5rem;
}

.search__subtitle {
    margin-bottom: 2rem;
}

.search__icon {
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(180, 180, 180, 0.4);
    color: #f44336;
    font-size: 3rem;
    padding: 1rem;
}

.form {
    text-align: center;
    margin-bottom: 5rem;
}

.input-group {
    margin-bottom: 1rem;
    display: inline-block;
}

.input-group__label {
    display: block;
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: start;
}

.input-group__input {
    background-color: #eee;
    border: none;
    border-radius: 3px 0 0 3px;
    height: 2rem;
    padding: .5rem .5rem;
    width: 200px;
}

.form__actions {
    display: inline-block;
}

.form__btn {
    background-color: #f44336;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    height: 2rem;
    padding: .25rem .75rem;
    text-align: center;
}

.form__icon {
    color: #fff;
}

/* card styling */

.card {
    border: 1px solid #343a40;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: .5rem 1rem;
    text-align: center;
    width: 250px;
}

.card__aside {
    background-color: #fff;
    bottom: 1.25rem;
    margin: 0 auto;
    position: relative;
    width: 3rem;
}

.card__icon {
    color: #f44336;
}

.card__title {
    margin-bottom: 1rem;
}

/* End card styling */

/************************* End search styling *************************/



/************************* Books styling *************************/

.books {
    align-items: center;
    display: grid;
    justify-content: center;
    min-height: 100vh;
    grid-gap: 30px;
    margin: 0 auto;
    padding: 5rem 0 1.5rem 0;
    width: 90%;
}

.book {
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(120, 120, 120, 0.5);
    font-family: merienda;
    padding: 1.5rem .5rem;
    position: relative;
    max-width: 300px;
    transition: transform .5s ease;
}

.book:hover {
    transform: scale(1.05);
}

.book::before {
    color: #f44336;
    content: open-quote;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    left: 0;
    position: absolute;
    top: -1rem;
}

.book::after {
    bottom: -2.8rem;
    color: #f44336;
    content: close-quote;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    right: 0;
    position: absolute;
}

.book__aside {
    margin-bottom: 1rem;
}

.book__figure {
    color: #f44336;
    font-size: 1.75rem;
    text-align: center;
}

.book__header {
    margin-bottom: .75rem;
}

.book__title {
    text-align: center;
    font-size: .9rem;
}

.book__body {
    margin-bottom: 1.5rem;
}

.book__copy {
    font-size: .7rem;
    letter-spacing: 1px;
    font-size: 700;
    text-align: start;
}

.book__footer {
    text-align: center;
}

.book__btn {
    background-color: transparent;
    border-radius: 5px;
    color: #1c1e21;
    cursor: pointer;
    font-weight: 600;
    padding: .2rem 2rem;
    transition: background-color .5s ease-in, color .4s ease-in;
}

.book__btn--black{
    border: 1px solid #343a40;
}

.book__btn--red{
    border: 1px solid #f44336;
}

.book__btn--black:hover{
    background-color: #343a40;
    color: #fff;
}

.book__btn--red:hover{
    background-color: #f44336;
    color: #fff;
}

.book__btn--saved{
    background-color: #f44336;
    color: #fff;
}

.book__btn--hide{
    display:none;
}


/************************* End book styling *************************/



/************************* Saved books styling *************************/

.list{
    min-height: 100vh;
    margin: 0 auto;
    padding: 5rem 0 1.5rem 0;
    width: 90%;
}

.saved-book{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(150, 150, 150, 0.4);
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: 2rem;
    position: relative;
    text-align: center;
    transition: transform .5s ease-in-out;
    width: 225px;
}

.saved-book:hover{
    transform: scale(1.15);
}

.saved-books__search{
    text-align: center;
    margin-bottom: 3rem;
}

.saved-book__aside{
    margin-bottom: 1rem;
}

.saved-book__icon{
    color: #f44336;
    font-size: 1.75rem;
}

.saved-book__header{
    margin-bottom: .75rem;
}

.saved-book__footer{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    left: 0;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: opacity .7s ease-in-out;
    width: 100%;
}

.saved-book:hover .saved-book__footer{
    opacity: 1;
}


.saved-book__btn{
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    font-weight: 600;
    padding: .25rem 2rem;
    text-decoration: none;
    transition: background-color .5s ease-in, color .4s ease-in; 
}

.saved-book__btn--yellow{
    border: 1px solid #ff9800;
}

.saved-book__btn--yellow:hover{
    background-color: #ff9800;
    color: #fff;
}

.saved-book__btn--red{
    border: 1px solid #f44336;
}

.saved-book__btn--red:hover{
    background-color: #f44336;
    color: #fff;
}

/************************* End saved books styling *************************/



/************************* Edit book styling *************************/

.edit-book{
    align-items: center;
    display: grid;
    font-family: merienda;
    min-height: 100vh;
    margin: 0 auto;
    padding: 5rem 0 1.5rem 0;
    width: 90%;
}

.edit-book__container{
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.edit-book__header{
    background-color: #fefefe;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px 0 rgba(120, 120, 120, 0.4);
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    width: 100%;
}

.edit-book__title{
    color: #ff9800;
}

.edit-book__body{
    background-color: #fefefe;
    box-shadow: 0 0 10px 0 rgba(120, 120, 120, 0.4);
    margin-bottom: 1rem;
    padding: 1rem;
}

.edit-book__input-group{
    margin-bottom: .75rem;
}


.edit-book__input-group:nth-of-type(2){
    margin-bottom: 1.75rem;
}

.edit-book__label{
    display: block;
    margin-bottom: .25rem;
}

.edit-book__input{
    font-family: merienda;
    padding: .5rem;
    width: 100%;
}

.edit-book__textarea{
    font-family: merienda;
    min-height: 120px;
    padding:.5rem;
    resize: vertical;
    width: 100%;
}


.edit-book__footer{
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0px 10px 0 rgba(150, 150, 150, 0.4);
    padding: 1rem; 
}

.edit-book__actions{
    text-align: center;
}

.edit-book__btn{
    background-color: transparent;
    border: 1px solid #ff9800;
    border-radius: 0 3px 3px 0;
    color: #343a40;
    cursor: pointer;
    font-family: merienda;
    font-weight: 600;
    padding: .3rem 1.5rem;
    transition: background-color .5s ease-in-out, color .4s ease-in-out;
}

.edit-book__btn:hover{
    background-color: #ff9800;
    color: #fff;
}



/************************* End edit book styling *************************/



/************************* Alert box styling *************************/

.alert {
    background-color: #343a40;
    border-radius: .25rem;
    bottom: 0rem;
    box-shadow: 0 0 10px 0 rgba(150, 150, 150, 0.5);
    color: #fff;
    display: flex;
    position: fixed;
    height: 3.5rem;
    max-width: 350px;
    padding: 1rem;
    width: 100%;
    transform: translateY(110%);
    transition: transform .5s ease-in, opacity .5s ease-in;
    z-index: 1;
}

.alert--deactivate{
    animation: popDownAlert .5s ease-in .2s forwards;

    transform: translateY(-25%);
}

.alert--activate{
    animation: popUpAlert .7s ease-out .7s forwards;
}

@keyframes popUpAlert {
    0%{
        opacity: 0;
    }
    80%{
        transform: translateY(-25%);
    }
    100%{
        opacity: 1;
        transform: translateY(-25%);
    }
}

@keyframes popDownAlert {
    0%{
        opacity: 1;
    }
    80%{
        transform: translateY(110%);
    }
    100%{
        opacity: 0;
        transform: translateY(110%);
    }
}

.alert__icon {
    color: rgb(0, 172, 0);
    font-size: 1.25rem;
    margin-right: .5rem;
    position: relative;
    top: 2px
}

.alert__icon--exclamation{
    color: #2196F3;
}

.alert__close {
    cursor: pointer;
    margin-left: auto;
}

/************************* End alert box styling *************************/



/************************* Footer styling *************************/

.footer {
    background-color: #343a40;
    color: #fff;
    font-size: .8rem;
    padding: 1rem;
    width: 100%;
}

.footer__copyright {
    text-align: center;
}

/************************* Footer styling *************************/


@media screen and (min-width: 400px) {
    /************************* Alert box styling *************************/

    .alert {
        left: 1rem;
    }

    /************************* End alert box styling *************************/
}


/************************* Media queries *************************/

@media screen and (min-width: 640px) {

    /************************* Navbar styling *************************/

    .nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: .25rem;
    }

    .nav__sub {
        display: block;
    }

    /* Nav burger styling */

    .nav__burger {
        display: none;
    }

    /* End nav burber styling */

    .nav__list {
        display: flex;
        justify-content: space-between;
        height: auto;
        list-style-type: none;
        overflow-y: auto;
        transition: none;
        width: 20%;
    }

    .nav__item {
        height: auto;
        padding: 1rem 0;
        text-align: start;
    }

    .nav__item:first-child {
        margin-top: 0rem;
    }

    .nav__link {
        font-size: .75rem;
    }

    /************************* Navbar styling *************************/



    /************************* End search styling *************************/


    /* Form styling */

    .input-group__input {
        width: 250px;
    }

    /* End form styling */

    /* Card styling */

    .cards{
        display: flex;
    }

    /* End card styling */


    /************************* End search styling *************************/



    /************************* Books styling *************************/

    .books {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 300px));
    }

    /************************* Books styling *************************/



    /************************* Saved books styling *************************/

    .saved-book{
        align-items: center;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        padding: 2rem;
        position: relative;
        text-align: center;
        width: 475px;
    }

    .saved-book__aside{
        margin-bottom: 0rem;
    }

    .saved-book__header{
        margin-bottom: 0rem;
    }

    /************************* Saved books styling *************************/

}

@media screen and (min-width: 820px) {

        /************************* Saved books styling *************************/

        .saved-book{
            width: 575px;
        }
    
        /************************* Saved books styling *************************/

}

@media screen and (min-width: 1080px) {

    /************************* Navbar styling *************************/

    .nav__list {
        width: 15%;
    }

    /************************* End navbar styling *************************/



    /************************* Books styling *************************/

    .books {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(3, minmax(250px, 300px));
    }

    /************************* End books styling *************************/



    /************************* Saved books styling *************************/

    .saved-book{
        width: 775px;
    }

    .saved-book:hover{
        transform: scale(1.10);
    }

    /************************* Saved books styling *************************/

}

/************************* End media queries *************************/