@font-face{
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: Roboto;
}

@font-face{
    src: url('../fonts/Dancing_Script/static/DancingScript-Regular.ttf');
    font-family: DancingScript;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #333;
    grid-template:
    "nav nav" auto
    "aside main"1fr
    "footer footer" auto / 250px 1fr;
    display: grid;
    font-family: Roboto;
    height: 100vh;
}



/************************* Navbar *************************/

.header-nav{
    background-color: #1c1e21;
    grid-area: nav;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
}

.nav__logo{
    color: #fff;
    font-family: DancingScript;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
}

.nav__link{
    color: #fff;
    letter-spacing:1px;
    text-decoration: none;
}

/************************* End Navbar *************************/



/************************* Aside styling *************************/

.aside{
    grid-area: aside;
    margin-top: 2rem;
    justify-self: end;
}

.aside__image{
    width: 100%;
}

.aside__list{
    list-style-type:none;
    margin-left:auto;
    position: sticky;
    top: 1rem;
}

.aside__figure{
    text-align: center;
    padding-bottom: 2rem;
}

.aside__image{
    border-radius: 100%;
    width: 130px;
    transition: box-shadow .5s, transform .5s;
}

.aside__image:hover{
    box-shadow: 0px 0px 15px 0 rgba(80, 80, 80, .6);
    transform: scale(1.05);
}

/************************* End aside styling *************************/



/************************* Footer styling *************************/

.footer{
    background-color: #1c1e21;
    grid-area: footer;
    padding: 2rem 0;
}

.footer__copyright{
    color: #fff;
    letter-spacing: 2px;
    margin:0 auto;
    max-width: 1400px;
    text-align: center;
    width: 90%;
}

/************************* End footer styling *************************/
