@font-face{
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: Roboto;
}

@font-face{
    src: url('../fonts/Dancing_Script/static/DancingScript-Regular.ttf');
    font-family: DancingScript;
}

:root{
    --main-color: #1c1e21;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #333;
    grid-template:
    "nav" auto
    "main" auto
    "fact" auto
    "aside" auto
    "footer" auto / 1fr;
    display: grid;
    font-family: Roboto;
    height: 100vh;
}



/************************* Navbar *************************/

.header-nav{
    background-color: var(--main-color);
    grid-area: nav;
    margin-bottom: 2rem;
}

.nav{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 90%;
}

.nav__sub{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    color: #fff;
    font-family: DancingScript;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.nav__list{
    list-style-type: none;
    height: 0;
    overflow-y:hidden;
    padding-top: 1rem;
    transition: height .5s;
}

.nav__item{
    height: 3rem;
    padding: 1rem 0 1rem 0;
}

.nav__link{
    color: #fff;
    letter-spacing:1px;
    text-decoration: none;
    font-size: 1rem;
}

.nav__burger{
    cursor: pointer;
    width: 25px;
}

.nav__line:last-child{
    margin-bottom: 0;
}

.nav__line{
    background-color: #fff;
    height: 2px;
    margin-bottom: 5px;
}


/************************* End Navbar *************************/



/************************* Left aside styling *************************/

.aside{
    grid-area: aside;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 90%;
}

.aside__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:none;
}

.aside__item{
    padding: 0 .5rem;
}

.aside__figure{
    padding-bottom: 1rem;
    text-align: center;
}

.aside__image{
    border-radius: 100%;
    transition: box-shadow .5s, transform .5s;
}

.aside__image:hover,
.aside__image:focus{
    box-shadow: 0px 0px 15px 0 rgba(80, 80, 80, .6);
    transform: scale(1.05);
}

/************************* End left aside styling *************************/



/************************* Right Aside styling *************************/

.facts{
    display: flex;
    flex-direction: column;
    font-family: DancingScript;
    grid-area: fact;
    justify-self: center;
}

.fact{
    background-color: #fff;
    box-shadow: 0px 0px 20px 0 rgba(120, 120, 120, .1);
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    width: 90%;
}

.fact__header{
    margin-bottom: 1rem;
}

.fact__title{
    text-align: center;
}

.fact__body{
    margin-bottom: .75rem;
}

.fact__actions{
    text-align:center;
}

.fact__btn{
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding: .25rem 1rem;
    text-decoration: none;
    transition: background-color .5s,color .4s;
}

.fact__btn:hover,
.fact__btn:focus{
    background-color: var(--main-color);
    color: #fff;
}

/************************* End right aside styling *************************/



/************************* Footer styling *************************/

.footer{
    background-color: var(--main-color);
    grid-area: footer;
    padding: 1.5rem 0;
}

.footer__copyright{
    color: #fff;
    font-size: .8rem;
    letter-spacing: 2px;
    margin:0 auto;
    text-align: center;
    width: 90%;
}

/************************* End footer styling *************************/



/************************* Media Queries *************************/

@media screen and ( min-width: 480px ){

    .aside__image{
        border-radius: 100%;
        transition: box-shadow .5s, transform .5s;
    }

    .facts{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

} 

@media screen and ( min-width: 720px ){

    .nav{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0 1.5rem 0;
    }

    .nav__burger{
        display: none;
    }

    .nav__list{
        display: flex;
        justify-content: space-between;
        height: auto;
        overflow-y: visible;
        padding-top: 0;
        transition:none;
        width: 50%;
    }

    .nav__item {
        height: auto;
        padding: 0;
    }

}

@media  screen and ( min-width: 820px ) {

    body{
        color: #333;
        grid-template:
        "nav nav" auto
        "aside main" auto
        "fact fact" auto
        "footer footer" auto / 1fr 5fr;
        display: grid;
        font-family: Roboto;
    }

    .nav__list{
        width: 40%;
    }

    .aside__list{
        flex-direction: column;
        position: sticky;
        top:1rem;
    }

    .fact{
        width: 25%;
    }

}

@media screen and ( min-width:1580px ) {

    body{
        color: #333;
        grid-template:
        "nav nav nav" auto
        "aside main fact" 1fr
        "footer footer footer" auto / 1fr 4fr 1fr;
        display: grid;
        font-family: Roboto;
    }

    .aside__image{
        border-radius: 100%;
        transition: box-shadow .5s, transform .5s;
    }

    .fact{
        width: 90%;
    }

    .facts{
        flex-direction: column;
        justify-content:flex-start;
        justify-self:center;
    }

}

/************************* End Media Queries *************************/