<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta authors -->
    <meta name="author" content="Alex Lazellari">
    <!-- Meta charset -->
    <meta charset="UTF-8">
    <!-- Meta edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Meta viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta title -->
    <title>eLibrary</title>
    <!-- Meta description -->
    <meta name="description" content="The purpose of eLibrary is to provide people an easy access to electronic libraries">
    <!-- Meta keywords -->
    <meta name="keywords" content="ebooks, libraries, books, reading, studying">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../../CSS/style.css">
    <!-- JavaScript -->
    <script src="../../JavaScript/script.js" defer></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
</head>
<body>
    <!-- Header -->
    {{> header}}
    <!-- End header --> 
    <!-- Main section -->
    {{{body}}}
    <!-- End main section -->
    <!-- Alert box -->
    {{> alert}}
    <!-- End alert box -->
    <!-- Footer -->
    {{> footer}}
    <!-- End Footer -->
   
</body>
</html>